<% provide(:title, "Contact") %>
<h1>Contact Me</h1>
<h2>Please email any questions that you may have to</h2>
<p>
  
  
  
    <img class="email"   <%= image_tag("pjohnson141.JPG")%> 
<h2><br><br>
  Please fill out  <a href="https://docs.google.com/forms/d/e/1FAIpQLSfKMB_Xm-tse1C4y9bIg2o9bjVAJepxlVJC9UqgjCuqJC4mZQ/viewform?usp=sf_link">
    this form </a> to request a program. <br> <br>
    Thanks!
</h2>
</p>