<% provide(:title, "Contact") %>
<h1>Contact Me</h1>
<h2>Please email any questions that you may have to</h2>
<p>
  
  
  
    <img class="email"   <%= image_tag("email.jpg")%> 
<h2><br><br>
  Please fill out  <a href="https://goo.gl/forms/EaLwdOPQ76Z4sB0g1">
    this form </a> to request a program. <br> <br>
    Thanks!
</h2>
</p>