<% provide(:title, "Media") %>
<h1>Media</h1>
<p>
  The <a href="https://drive.google.com/drive/folders/12oR8YuZGcufFUB3Ve1A_qrWwRQVHE71o?usp=sharing">
    resources available for you to copy are available in this link.</a> 
</p>