<% provide(:title, "Programs") %>
 
<!DOCTYPE html>
<html lang="en">
  <head>
   
 

    <!-- Custom styles for this template -->
    <link href="jumbotron.css" rel="stylesheet">

 
  </head>

  <body>



    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>The Science of Sound</h1>
        <p>We will be doing all kinds of interesting sound stuff! The silence of a vacuum, making sound bend a laser beam, waves making interesting patterns with different frequencies, and smaller hands-on activities.</p>
        <p><a class="btn btn-primary btn-lg" href="programs/rock" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

 
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>LumpaWorld Engineering Challenge</h2>
          <p>The silly people who live here come in four types; Rollies can only roll places, Skybumps  only fly in little airplanes, bouncers will launch themselves with catapults, and Swooshers will only ride on ziplines.   </p>
          <p><a class="btn btn-default" href="programs/lumpa" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Slow-roll Marble Challenge</h2>
          <p>Using clues, trial & error, experimentation, and engineering to make a marble roll as slowly as possible down a steep track. Compare your slowest time with kids from all over! </p>
          <p><a class="btn btn-default" href="programs/marble" role="button">View details &raquo;</a></p>
       </div>

         <div class="col-md-4">
          <h2>Jigglebots and Doodlebots</h2>
          <p>First time fun with electricity! Learn the very basics of a closed circuits and batteries by building your very own doodlebot. All materials will be provided and each child will leave with a motorized doodlebot. There is a $50 materials surcharge included the fee.</p>
          <p><a class="btn btn-default" href="programs/doodle" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <hr>

    
    </div> <!-- /container -->


  </body>
</html>

</p>