<% provide(:title, "Programs") %>
 
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Library programs that are engineering challenges for kids. These programs were designed by a science teacher in MN">
    <meta name="author" content="Peter Johnson">
    <link rel="icon" href="../../favicon.ico">


    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="jumbotron.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>



    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Libraries Rock!</h1>
        <p>This is a template for a simple, informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

 
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>LumpaWorld Engineering Challenge</h2>
          <p>The silly people who live here come in four types; Rollies can only roll places, Skybumps  only fly in little airplanes, bouncers will launch themselves with catapults, and Swooshers will only ride on ziplines.   </p>
          <p><a class="btn btn-default" href="programs/lumpa" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Slow-roll Marble Challenge</h2>
          <p>Using clues, trial & error, experimentation, and engineering to make a marble roll as slowly as possible down a steep track. Compare your slowest time with kids from all over! </p>
          <p><a class="btn btn-default" href="programs/marble" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Jigglebots and Doodlebots</h2>
          <p>First time fun with electricity! Learn the very basics of a closed circuits and batteries by building your very own doodlebot. All materials will be provided and each child will leave with a motorized doodlebot. There is a $50 materials surcharge included the fee.</p>
          <p><a class="btn btn-default" href="programs/doodle" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <hr>

    
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>

</p>