<% provide(:title, "Reviews") %>
<h1>Reviews</h1>



    <div class="container">
      <!-- Example row of columns -->

        
        <div class="col-md-4">
          <h2>Slow-roll Marble Challenge</h2>
         <blockquote>
	<p>This program is different, entertaining, appealing to the competitive, and the kids even learned something!  You can't ask for more than that! We look forward to seeing what Pete comes up with next!</p>
    <footer>Cyndi Zierden, Cannon Falls Library</footer>
</blockquote>
          <p><a class="btn btn-default" href="programs/marble" role="button">View details &raquo;</a></p>
       </div>

         <div class="col-md-4">
          <h2>Jigglebots and Doodlebots</h2>
          <blockquote>
	<p>The whole program was well thought out and well executed. This program was fun and engaging! Thank you! We had so much fun! </p>
    <footer>Amanda Hegge, Whitehall Public Library </footer>
</blockquote>
          <p><a class="btn btn-default" href="programs/doodle" role="button">View details &raquo;</a></p>
        </div>
      </div>

    
    </div> <!-- /container -->
    
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>LumpaWorld Engineering Challenge</h2>
         <blockquote>
	<p>We loved that this program appealed to a wide range of ages. We had 3-year-olds on up to middle school children at this program and ALL of them had a great time! Peter was very organized and did a great job explaining how everything worked and what the kids needed to accomplish.</p>
    <footer>Kim Jansen, Clear Lake Library</footer>
</blockquote>
          <p><a class="btn btn-default" href="programs/lumpa" role="button">View details &raquo;</a></p>
        </div>
        
        
        <div class="col-md-4">
          <h2>Slow-roll Marble Challenge</h2>
         <blockquote>
	<p>Peter is great with the youth!  His passion for teaching and sharing knowledge is evident in his programming style.  His energetic, educational, hands on programming is a great additional to our local programming.  Youth and parents look forward to his visits and the mystery of what we will be doing today.</p>
    <footer>Kathy Homme, Arlington Public Library</footer>
</blockquote>
          <p><a class="btn btn-default" href="programs/marble" role="button">View details &raquo;</a></p>
       </div>

         <div class="col-md-4">
          <h2>Jigglebots and Doodlebots</h2>
          <blockquote>
	<p>What makes this program is how patient Peter is with the age span that attends. They remember him from program to program, which is a huge plus. He finds projects that are really, REALLY, entertaining AND that teach the kids something new.</p>
    <footer>Dianne Pinney, Le Sueur Public Library</footer>
</blockquote>
          <p><a class="btn btn-default" href="programs/doodle" role="button">View details &raquo;</a></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <h2>LumpaWorld Engineering Challenge</h2>
         <blockquote>
	<p>This program is different, entertaining, appealing to the competitive, and the kids even learned something!  You can't ask for more than that!.</p>
    <footer>Cyndi Zierden, Cannon FAlls Library</footer>
</blockquote>
          <p><a class="btn btn-default" href="programs/lumpa" role="button">View details &raquo;</a></p>
        </div>
        
      <hr>

    
    </div> <!-- /container -->

