<% provide(:title, "Climate") %>


<!DOCTYPE html>
<html lang="en">
  <head>


    <!-- Custom styles for this template -->
    <link href="jumbotron.css" rel="stylesheet">

  </head>

  <body>



    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Climate Change 101</h1>
        <p> What, when, & where.</p>
      </div>
    </div>

 
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>What evidence is there from the past?</h2>
          <p>A look at the measurements from around the world.   </p>
        </div>
        <div class="col-md-4">
          <h2>Questions and answer</h2>
     
      </div>

      <hr>

    
    </div> <!-- /container -->


  </body>
</html>

</p>