<% provide(:title, "Doodlebots") %>


<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Custom styles for this template -->
    <link href="jumbotron.css" rel="stylesheet">

 
  </head>

  <body>



    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Jigglebots & Doodlebots Currently Unavailable)</h1>
        <p></p>
 <%= image_tag("dood.jpg")%>
      </div>
    </div>

 
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>What is the Challenge?</h2>
          <p>First time fun with electricity! Learn the very basics of a closed circuits and batteries by building your very own doodlebot. All materials will be provided and each child will leave with a motorized doodlebot. There is a $50 materials surcharge included the fee.  </p>
        </div>
        <div class="col-md-4">
          <h2>Age Limits</h2>
          <p>Ages 8 and up. 6 - 7 year olds should have an older helper with them. </p>
       </div>
        <div class="col-md-4">
          <h2>Extra Information for Libraries</h2>
          <p>Tables for the children to work at. Maximum of 40 children (or let me know if you plan on more than 40 children).</p>
          <p><a class="btn btn-default" href="overview" role="button">View Overview &raquo;</a></p>
        </div>
      </div>

      <hr>

    
    </div> <!-- /container -->



</html>

</p>