<% provide(:title, "Marble Challenge") %>


<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Custom styles for this template -->
    <link href="jumbotron.css" rel="stylesheet">


  </head>

  <body>



    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Slow-Roll Marble Challenge</h1>
        <p>Can you build the slowest track?</p>

      </div>
    </div>

 
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>What is the Challenge?</h2>
          <p>Using clues, trial & error, experimentation, and engineering to make a marble roll as slowly as possible down a steep track. Compare your slowest time with kids from all over!  </p>
        
        </div>
        <div class="col-md-4">
          <h2>Age Limits</h2>
          <p>Ages 8 and up. 6 - 7 year olds should have an older helper with them. </p>

       </div>
        <div class="col-md-4">
          <h2>Extra Information for Libraries</h2>
          <p>I am very flexible about space and layouts but more information about program requirements can be found here.</p>
          <p><a class="btn btn-default" href="overview" role="button">View Overview &raquo;</a></p>
        </div>
      </div>

      <hr>

    
    </div> <!-- /container -->



  </body>
</html>

</p>