<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg .tg-xy75{font-weight:bold;background-color:#ffccc9;vertical-align:top}
.tg .tg-5mgg{font-weight:bold;background-color:#c0c0c0;vertical-align:top}
.tg .tg-yw4l{vertical-align:top}
</style>
<table class="tg" style="undefined;table-layout: fixed; width: 830px">
<colgroup>
<col style="width: 133px">
<col style="width: 201px">
<col style="width: 201px">
<col style="width: 126px">
<col style="width: 101px">
</colgroup>
  <tr>
    <th class="tg-xy75">Program Name</th>
    <th class="tg-xy75">Program Overview</th>
    <th class="tg-xy75">Library Requirements</th>
    <th class="tg-xy75">Age Requirements</th>
    <th class="tg-xy75">Cost Including fees</th>
  </tr>
  <tr>
    <td class="tg-5mgg">Jigglebots and Doodlebugs (Currently Unavailable)</td>
    <td class="tg-yw4l">First time fun with electricity! Learn the very basics of a closed circuits and batteries by building your very own doodlebot. All materials will be provided and each child will leave with a motorized doodlebot. There is a $50 materials surcharge included the fee.</td>
    <td class="tg-yw4l">Tables for the children to work at. Maximum of 40 children (or let me know if you plan on more than 40 children).</td>
    <td class="tg-yw4l">Ages 8 and up. 6 - 7 year olds should have an older helper with them.</td>
    <td class="tg-yw4l">$225</td>
  </tr>
  <tr>
    <td class="tg-5mgg">Launch and Light</td>
    <td class="tg-yw4l">Launch your rocket into orbit! Use clay, paper fins and a straw to make a rocket. Adjust the angle, power and mass of the straw launcher to launch it perfectly! All materials included in the fee. LIGHT: Radio, microwaves, infrared, visible light, UV, X Ray, and gamma rays are all types of light. This part of the program has demonstrations and hands-on stations to explore light!</td>
    <td class="tg-yw4l">Tables to hold the hands-on activities. An open area to launch the straw rockets.</td>
    <td class="tg-yw4l">Ages 7 and up. 6 year olds should have an older helper with them</td>
    <td class="tg-yw4l">$215, Rocket Materials Included in the Price</td>
  </tr>
  <tr>
    <td class="tg-5mgg">The Science of Sound</td>
    <td class="tg-yw4l">We will be doing all kinds of interesting sound stuff! The silence of a vacuum, making sound bend a laser beam, waves making interesting patterns with different frequencies, and smaller hands-on activities.</td>
    <td class="tg-yw4l">Tables for students and a central presenters table with power available. </td>
    <td class="tg-yw4l">Ages 6 and up.</td>
    <td class="tg-yw4l">$200</td>
  </tr>
</table>
