<% provide(:title, "Programs") %>


<!DOCTYPE html>
<html lang="en">
  <head>
  
    <!-- Custom styles for this template -->
    <link href="jumbotron.css" rel="stylesheet">

 
  </head>

  <body>



    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Libraries Rock!</h1>
        <p>a starting point to create something more unique.</p>

      </div>
    </div>

 
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>What is the Challenge?</h2>
          <p>ts, and Swooshers will only ride on ziplines.   </p>
          <p><a class="btn btn-default" href="programs/lumpa" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Age Limits</h2>
          <p>ck. Compare your slowest time with kids from all over! </p>
          <p><a class="btn btn-default" href="programs/marble" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Extra Information for Libraries</h2>
          <p>I am very flexible about space and layouts but more information about program requirements can be found here.</p>
          <p><a class="btn btn-default" href="overview" role="button">View Overview &raquo;</a></p>
        </div>
      </div>

      <hr>

    
    </div> <!-- /container -->


 
</html>

</p>