<% provide(:title, "Sound Science") %>


<!DOCTYPE html>
<html lang="en">
  <head>
  
    <!-- Custom styles for this template -->
    <link href="jumbotron.css" rel="stylesheet">

 
  </head>

  <body>



    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>The Science of Sound</h1>
        <p>Very cool activities and demonstrations with sound</p>
 <%= image_tag("wave.JPG")%>
      </div>
    </div>

 
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>What is the program?</h2>
          <p>We will using different sound making devices and doing fun sound demonstrations. What happens to sound in a vacuum? Why do we sound different in in recordings than in our own heads? How are cool sound effects made? Change the pitch of different sounds my moving a bridge or tightening the string. Finally - Paper cup telephones! </p>
          <p><a class="btn btn-default" href="https://docs.google.com/document/d/1Qx1SuMJhzHu43jYxsS1M1joQBYQXWHsSlaGHMw9lPIY/edit?usp=sharing" role="button">View Additional Details Here &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Age Limits</h2>
          <p>Ages 8 and up. 6 - 7 year olds may need an older helper with them.</p>
       </div>
        <div class="col-md-4">
          <h2>Extra Information for Libraries</h2>
          <p>We will need tables to work on. I am very flexible. </p>
          <p><a class="btn btn-default" href="overview" role="button">View Overview &raquo;</a></p>
        </div>
      </div>

      <hr>

    
    </div> <!-- /container -->


 
</html>

</p>