<% provide(:title, "Space Program") %>


<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Custom styles for this template -->
    <link href="jumbotron.css" rel="stylesheet">


  </head>

  <body>



    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Launch and Light</h1>
        <p>Summer Reading 2019 - Out of this World!</p>
 <%= image_tag("launchingRocket.jpg")%>
      </div>
    </div>

 
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>What is the Launch Challenge?</h2>
          <p>Launch your rocket into orbit! Use clay, paper fins and a straw to make a rocket. Adjust the angle, power and mass of the straw launcher to launch it perfectly! All materials included in the fee. </p>
        
        </div>
        <div class="col-md-4">
          <h2>Light in all its forms! </h2>
          <p>Radio, microwaves, infrared, visible light, UV, X Ray, and gamma rays are all types of light. This part of the program has demonstrations and hands-on stations to explore light! </p>

       </div>
        <div class="col-md-4">
          <h2>Age Limits</h2>
          <p>Ages 7 and up. 6 year olds should have an older helper with them. </p>
          <p><a class="btn btn-default" href="overview" role="button">View Overview &raquo;</a></p>
        </div>
      </div>

      <hr>

    
    </div> <!-- /container -->



  </body>
</html>

</p>