<h1>Sample App</h1>

<p>Hi <%= @request.librarian %>,</p>

<p>I have recieved your request for a library program. I will be replying to the email to confirm the date and the time. 
<br><br><br>
If you need to make any changes or this request was made in error, please let me know. 
<br><br>

Here are the details of your request.</p>


