// Place all the styles related to the Requests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.boxed {
    width: 320px;
    padding: 20px;
    border: 5px dotted gray;
    margin: auto;
}